{% extends "_layouts/standard" %}
{% requireLogin %}

{% block content %}

{# Breadcrumbs #}
{% include '_components/fed/nav--breadcrumbs'  %}

{# Container #}
<div class="simple-container">

	{# Logged In Menu #}
	{% include '_components/fed/nav--logged-in' %}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg choices-as-boxes">

		<form method="post" accept-charset="UTF-8" class="py-4">
        {{ getCsrfInput() }}
        {{ forms.hidden({ name : 'action', value: 'users/saveUser' }) }}
        {{ forms.hidden({ name : 'userId', value: currentUser.id }) }}
        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

			{# Field #}
			<div class="form-row mb-6">
				<label for="fields[userPhoneNumber]" class="field-label block w-full">Phone</label>
				<input required name="fields[userPhoneNumber]" id="fields-userPhoneNumber" type="number" class="input-field --phone-number block w-full" placeholder="Your Name" value="{{ currentUser.userPhoneNumber }}">
			</div>

			{# Field #}
			<div class="form-row mb-6">
				<label for="fields[userCompanyName]" class="field-label block w-full">Company</label>
				<input name="fields[userCompanyName]" id="fields-userCompanyName" type="text" class="input-field block w-full" value="{{ currentUser.userCompanyName }}">
			</div>

			{# Field #}
			<div class="form-row mb-6">
				<label for="fields[userTitle]" class="field-label block w-full">Title</label>
				<input name="fields[userTitle]" id="fields-userTitle" type="text" class="input-field block w-full" value="{{ currentUser.userTitle }}">
			</div>

			{# Field #}
			<div class="form-row mb-6">
				<label for="fields[userAddressStreet]" class="field-label block w-full">Street Address</label>
				<input required name="fields[userAddressStreet]" id="fields-userAddressStreet" type="text" class="input-field block w-full" value="{{ currentUser.userAddressStreet }}">
			</div>

			{# Field #}
			<div class="form-row mb-6">
				<label for="fields[userAddressCity]" class="field-label block w-full">City</label>
				<input required name="fields[userAddressCity]" id="fields-userAddressCity" type="text" class="input-field block w-full" value="{{ currentUser.userAddressCity }}">
			</div>


			{# Field / split #}
			<div class="form-row mb-6 flex justify-center items-center -mx-4">

				<div class="w-1/2 px-4">
					<label for="state" class="field-label block w-full">State</label>
					<select name="state" id="state" data-module="choices">
						<option value="CT">CT</option>
						<option value="AZ">AZ</option>
						<option value="NM">NM</option>
						<option value="TX">TX</option>
						<option value="CA">CA</option>
					</select>
				</div>

				<div class="w-1/2 px-4">
					<label for="country" class="field-label block w-full">Year</label>
					<select required name="country" id="country" data-module="choices" class="choices--box">
						<option value="U.S.A">U.S.A</option>
						<option value="France">France</option>
						<option value="Germany">Germany</option>
						<option value="Japan">Japan</option>
					</select>
				</div>
			</div>

			{# Buttons #}
			<div class="form-row mb-6 pt-6 flex items-center">
					 <input class="submit btn" type="submit" value="Update">
					<a href="#" class="ml-6 px-3 text-sm no-underline text-grey-dark hover:text-green block">Cancel</a>
			</div>



		</form>

	</section>

</div>

{# Form Validation #}
{% set formJs %}
	$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}
