{% extends "_layouts/standard" %}
{% requireLogin %}

{% block content %}

{# Breadcrumbs #}
{% include '_components/fed/nav--breadcrumbs'  %}

{# Container #}
<div class="simple-container">

	{# Logged In Menu #}
	{% include '_components/fed/nav--logged-in' %}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg choices-as-boxes">

		<form method="post" accept-charset="UTF-8" class="py-4">
        {{ getCsrfInput() }}
        {{ forms.hidden({ name : 'action', value: 'users/saveUser' }) }}
        {{ forms.hidden({ name : 'userId', value: currentUser.id }) }}
        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

			{# Field #}
			<div class="form-row mb-6">
				<label for="fields[userPhoneNumber]" class="field-label block w-full">Phone</label>
				<input required name="fields[userPhoneNumber]" id="fields-userPhoneNumber" type="number" class="input-field --phone-number block w-full" value="{{ currentUser.userPhoneNumber }}">
			</div>
			
			<div class="form-row mb-6 flex  items-center -mx-4">
				{# Field #}
				<div class="w-1/2 px-4">
					<label for="fields[userCompanyName]" class="field-label block w-full">Company</label>
					<input name="fields[userCompanyName]" id="fields-userCompanyName" type="text" class="input-field block w-full" value="{{ currentUser.userCompanyName }}">
				</div>

				{# Field #}
				<div class="w-1/2 px-4">
					<label for="fields[userTitle]" class="field-label block w-full">Title</label>
					<input name="fields[userTitle]" id="fields-userTitle" type="text" class="input-field block w-full" value="{{ currentUser.userTitle }}">
				</div>
			</div>

			
			<div class="form-row mb-6 flex  items-center -mx-4">
				{# Field #}
				<div class="w-1/2 px-4">
					<label for="fields[userAddress1]" class="field-label block w-full">Address 1</label>
					<input required name="fields[userAddress1]" id="fields-userAddress1" type="text" class="input-field block w-full" value="{{ currentUser.userAddress1 }}">
				</div>

				{# Field #}
				<div class="w-1/2 px-4">
					<label for="fields[userAddress2]" class="field-label block w-full">Address 1</label>
					<input required name="fields[userAddress2]" id="fields-userAddress2" type="text" class="input-field block w-full" value="{{ currentUser.userAddress2 }}">
				</div>
			</div>


			<div class="form-row mb-6 flex  items-center -mx-4">
				{# Field #}
				<div class="w-1/2 px-4">
					<label for="fields[userAddressCity]" class="field-label block w-full">City</label>
					<input required name="fields[userAddressCity]" id="fields-userAddressCity" type="text" class="input-field block w-full" value="{{ currentUser.userAddressCity }}">
				</div>
				
				{# Field #}
				<div class="w-1/2 px-4">
					<label for="state" class="field-label block w-full">State</label>
					<select name="state" id="state" data-module="choicesSearch">
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX" selected="selected">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
				</div>
			</div>


			{# Field / split #}
			{#<div class="form-row mb-6 flex  items-center -mx-4">

				

				<div class="w-1/2 px-4">
					<label for="country" class="field-label block w-full">Year</label>
					<select required name="country" id="country" data-module="choices" class="choices--box">
						<option value="U.S.A">U.S.A</option>
						<option value="France">France</option>
						<option value="Germany">Germany</option>
						<option value="Japan">Japan</option>
					</select>
				</div>
			</div> 
		</div>#}


		{# Buttons #}
		<div class="form-row mb-6 pt-6 flex items-center">
				 <input class="submit btn" type="submit" value="Update">
				<a href="#" class="ml-6 px-3 text-sm no-underline text-grey-dark hover:text-green block">Cancel</a>
		</div>



		</form>

	</section>

</div>

{# Form Validation #}
{% set formJs %}
	$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}
