{% extends "_layouts/standard" %}
{% requireLogin %}

{% block content %}

{% set charges = craft.charge.getChargesByUser %}

{# Breadcrumbs #}
{#% include '_components/fed/nav--breadcrumbs'  %#}

{# Container #}
<div class="simple-container">

	{# Logged In Menu #}
	{% include '_components/fed/nav--logged-in' %}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg choices-as-boxes">
		{% if craft.weat.isWeatMember %}

			<form method="post" id="endSubscriptionForm" accept-charset="UTF-8" class="py-4">
				{{ getCsrfInput() }}
				{% if allErrors is defined %}
					{{ forms.errorBlock(allErrors) }}
				{% endif %}

				{% set activeCharge = false %}
				{% for charge in charges %}
					{% if charge.subscription is not null and charge.subscription.currentPeriodEnd >= date().timestamp %}
						{% set activeCharge = true %}
						{# Field #}
						<div class="form-row mb-6 border-b border-grey-lightest pb-6">
							{{ forms.hidden({ name: 'subscriptionId', value: charge.subscription.id }) }}
							<h4 class="mb-4 text-md">{{ charge.subscription.planName }}</h4>
							<div class="text-xs text-grey-dark leading-normal">
								<p>Start Date: {{ date.simple(charge.subscription.currentPeriodStart) }}</p>
								<p>Expiry Date: {{ date.simple(charge.subscription.currentPeriodEnd) }}</p>
							</div>
						</div>

						{# Field #}
						<div class="form-row mb-6">
							{% if charge.subscription.status == 'active' %}
								{{ forms.hidden({ name: 'action', value: 'charge/endSubscription'}) }}
								<label for="membershipAutoRenew" class="check-radio-input block w-full text-sm flex items-center">
									<input type="checkbox" id="membershipAutoRenew" class="check-radio__input" checked>
									{{svg.icon('icon --md text-green', 'checkmark')}}
									<span class="check-radio__label inline-block ml-3  cursor-pointer">Auto-Renew Membership</span>
								</label>
							{% elseif charge.subscription.status == 'cancelled' %}

								{{ forms.hidden({ name: 'action', value: 'charge/reactivateSubscription'}) }}
								<p>Your membership will not renew at the end of the expiry date.</p>
							{% else %}
								<p>Unknow status {{ charge.subscription.status }}</p>
							{% endif %}
						</div>

					{% endif %}
				{% endfor %}

				{% if activeCharge %}

					{# Buttons #}
					<div class="form-row mb-6 pt-6 flex items-center">
							 <input id="endSubscriptionSubmit" class="submit btn --disabled" type="submit" value="Update" disabled>
							<a href="#" class="ml-6 px-3 text-sm no-underline text-grey-dark hover:text-green block">Cancel</a>
					</div>
				{% else %}

					{# Field #}
					<div class="form-row mb-6 border-b border-grey-lightest pb-6">
						<h4 class="mb-4 text-md">WEAT</h4>
						<div class="text-xs text-grey-dark leading-normal">
							{{ post.published_at is empty ? "" : post.published_at|date("m/d/Y") }}
							<p>Start Date: {{ currentUser.userSubscriptionStartDate is empty ? "-" :  date.simple(currentUser.userSubscriptionStartDate) }}</p>
							<p>Expiry Date: {{ currentUser.userSubscriptionEndDate is empty ? "-" : date.simple(currentUser.userSubscriptionEndDate) }}</p>
							<p>Join Date: {{ currentUser.userStartDate is empty ? "-" : date.simple(currentUser.userStartDate) }}</p>
						</div>
					</div>
				{% endif %}


			</form>
{# Form Validation #}
{% set formJs %}
$(function() {
	var $endSubscriptionSubmit = $('#endSubscriptionSubmit');
	$('#membershipAutoRenew').change(function(){
		if ( this.checked ) {
			$endSubscriptionSubmit.prop('disabled', true).addClass('--disabled');
		} else {
			$endSubscriptionSubmit.prop('disabled', false).removeClass('--disabled');
		}
	});
	$('#endSubscriptionForm').submit(function(event) {
		var c = confirm("Are you sure you want to turn of auto-renew?");
		return c;
	});
});
{% endset %}
{% includeJs formJs %}

		{% else %}


			<div class="form-row mb-6 pt-6 flex items-center">
				<a href="{{ url('members/join') }}" class="btn">Join WEAT</a>
			</div>

		{% endif %}

	</section>

</div>





{% endblock %}
