{% extends "_layouts/standard" %}
{% requireLogin %}

{% block content %}

{# Breadcrumbs #}
{% include '_components/fed/nav--breadcrumbs'  %}

{# Container #}
<div class="simple-container">

	{# Logged In Menu #}
	{% include '_components/fed/nav--logged-in' %}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">

		{% set message = craft.session.getFlash('notice') %}
		{{ message }}
		{% if craft.request.getParam( 'loggedIn' ) %}
		You are already logged in.
		{% endif %}
		{% if craft.request.getParam( 'isMember' ) %}
		And you have an active subscription so there is no need to Join again.
		{% endif %}
		<form method="post" id="action-form" accept-charset="UTF-8" class="py-4" enctype="multipart/form-data">
			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="users/saveUser">
			<input type="hidden" name="userId" value="{{ currentUser.id }}">
			{% if allErrors is defined %}
				{{ forms.errorBlock(allErrors) }}
			{% endif %}

			{# Field #}
			<div class="form-row mb-6">
				<label for="email" class="field-label block w-full">Email</label>
				<input required readonly name="email" id="email" type="email" class="input-field block w-full" placeholder="hello@mail.com" value="{{ currentUser.email }}">
			</div>

			<div class="form-row mb-6">
				<label for="password">Current Password</label>
				<input required name="password" id="currentPassword" type="password" class="input-field block w-full" />
			</div>

			<div class="form-row mb-6">
				<label for="newPassword">New Password</label>
				<input required name="newPassword" id="newPassword" type="password" class="input-field block w-full" />
			</div>

			{# Buttons #}
			<div class="form-row mb-6 pt-6 flex items-center">
					 <input class="submit btn" type="submit" value="Update">
					<a href="#" class="ml-6 px-3 text-sm no-underline text-grey-dark hover:text-green block">Cancel</a>
			</div>
		</form>

</section>

</div>

{# Form Validation #}
{% set formJs %}
$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}
