{% extends "_layouts/standard" %}

{% block content %}

{# Page Header #}
<header class="page-header bg-blue">
	<div class="simple-container py-8 sm:py-10">
		{# Landing Page Title: #}
		<h1 class="text-white font-medium md:text-3xl sm:text-xl text-lg">Committees</h1>
	</div>
</header>


<div class="m-auto max-w-lg mt-16 px-4   sm:px-6   md:mt-20   lg:px-3">
	<h2 class="font-light leading-tight mb-4 text-blue text-center text-2md   sm:text-lg   md:text-xl">What We're About</h2>
	<p class="leading-normal mb-12 text-center text-grey-dark   md:mb-18 md:text-md">Design of Water Resource Recovery Facilities, MOP 8, Sixth Edition is the authoritative guide to effectively designing or upgrading a recovery facility.</p>

	<div class="flex flex-wrap justify-between -mx-2 pb-4   sm:-mx-3">
		<div class="mb-4 px-2 w-1/2   sm:mb-0 sm:px-3 sm:w-1/4">
			<a data-scroll class="bg-blue h-8 inline-block leading-tight no-underline pt-2 rounded text-1xs text-center text-white w-full hover:bg-green   sm:h-10 sm:leading-normal sm:text-sm   md:h-14 md:pt-4 md:text-base" href="#knowledge">Knowledge</a>
		</div>
		<div class="mb-4 px-2 w-1/2   sm:mb-0 sm:px-3 sm:w-1/4">
			<a data-scroll class="bg-blue h-8 inline-block leading-tight no-underline pt-2 rounded text-1xs text-center text-white w-full hover:bg-green   sm:h-10 sm:leading-normal sm:text-sm   md:h-14 md:pt-4 md:text-base" href="#delivery">Delivery</a>
		</div>
		<div class="mb-4 px-2 w-1/2   sm:mb-0 sm:px-3 sm:w-1/4">
			<a data-scroll class="bg-blue h-8 inline-block leading-tight no-underline pt-2 rounded text-1xs text-center text-white w-full hover:bg-green   sm:h-10 sm:leading-normal sm:text-sm   md:h-14 md:pt-4 md:text-base" href="#stakeholder">Stakeholder</a>
		</div>
		<div class="mb-4 px-2 w-1/2   sm:mb-0 sm:px-3 sm:w-1/4">
			<a data-scroll class="bg-blue h-8 inline-block leading-tight no-underline pt-2 rounded text-1xs text-center text-white w-full hover:bg-green   sm:h-10 sm:leading-normal sm:text-sm   md:h-14 md:pt-4 md:text-base" href="#management">Management</a>
		</div>
	</div>
</div>


{# List: Accordion Link/Doc/Info #}
{# Template note: only include data-module="accordion" 1x per page #}
<div class="list-accordion   m-auto max-w-lg px-6   sm:mb-10  lg:px-3" style="margin-bottom: 320px" data-module="accordion">


	{% set groups = [
		{
			name: 'knowledge',
			label: 'Knowledge',
		 	description: "Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page."
		},
		{
			name: 'delivery',
			label: 'Delivery',
		 	description: "Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page."
		},
		{
			name: 'stakeholder',
			label: 'Stakeholder',
		 	description: "Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page."
		},
		{
			name: 'management',
			label: 'Management',
		 	description: "Display/list all committees somehow shown within the four broad groups Knowledge, Delivery, Stakeholder, Management. Each committee should then be linked or anchored to it's mission statement/goal on a page."
		}
	] %}
	{% for group in groups %}
	<!--   {{group.label}}   -->
	<h3 class="leading-tight mb-3 mt-10 text-1md text-grey-dark   sm:mt-18 sm:text-2md" id="{{group.name}}">{{group.label}}</h3>
	<p class="leading-normal mb-4 text-xs text-grey-dark">{{group.description}}</p>

		{% for entry in craft.entries.section('committees').committeeGroup(group.name) %}

		<div class="js-accordion-item active   tr-all-3  list-accordion__item    border-grey-lightest border-t pt-8 pb-8">

		    {# Header #}
		    <header class="js-accordion-toggle  text-grey-dark hover:text-blue-light cursor-pointer flex justify-between  item__header items-center">
		        <h4 class="text-blue text-1md sm:text-2md tr-all">{{entry.title}}</h4>

		        <div class="relative">
		            {{svg.icon('icon --add --md ml-1 tr-all-3', 'add')}}
		            {{svg.icon('icon --subtract --md ml-1 absolute pin-t tr-all-3', 'subtract')}}
		        </div>
		    </header>

		    {# Content #}
		    <div class="item__content  tr-all-3">
		        <div class="sm:flex sm:flex-sm:justify pt-8">
		            <div class="content__col sm:w-1/2 sm:pr-6 sm:border-r border-grey-lightest      md:w-2/3">
		                <h6 class="uppercase tracking-wide text-blue-light mb-3">Purpose</h6>
		                <div class="text-xs mb-6 text-grey-dark leading-normal">
		                    <p>{{entry.committeePurpose}}
		                    </p>
		                </div>

		                <h6 class="uppercase tracking-wide text-blue-light mb-3">Members</h6>
		                {# Template Note: no mb-6 here #}
		                <div class="mb-6 text-xs text-grey-dark leading-normal   sm:mb-0">
		                    <p>{{entry.committeeMembers|length}}</p>
		                </div>
		            </div>
		            <div class="content__col sm:w-1/2 sm:pl-8      md:w-1/3">
		                <h6 class="uppercase tracking-wide text-blue-light mb-3">Committee Chair</h6>

		                <div class="text-xs mb-6 text-grey-dark leading-normal">
												<span class="block">{{entry.committeeChair|nl2br}}</span>
		                    {#}<span class="block">Susan O'Malley, 2016 - 2018</span>
		                    <span class="block">(512) 972-0083</span>
		                    <span class="block">heather@dodsongroup.org</span>{#}
		                </div>
		            </div>
		        </div>

		        <a class="btn   mb-4 mt-8">Join Committee</a>
		    </div>
		</div>
		{% endfor %}

	<!-- End {{group.label}} -->

	{% endfor %}

</div>


{% endblock %}
