{# Timeline Event Content/Detail #}
{% import '_macros/svg' as svg %}
<a class="no-underline hover:text-green mt-8 md:mt-12" href="{{ event.url }}">
    <h4 class="text-2md sm:text-lg mb-8 md:mb-12">{{ event.title }}</h4>
</a>

<div class="featured-event__info   block text-grey-dark">
    {# Info #}
    {% if event.location|length %}
	    <div class="flex sm:mb-2">
	        {# {{svg.icon('icon --map --sm mr-3 top-2 relative tr-all','map')}} #}
            <span class="icon --map --sm mr-3 top-2 relative tr-all">
                <svg id="map" viewBox="0 0 24 24" width="100%" height="100%">
                    <path fill="currentColor" d="M12,0C7.6,0,3,3.4,3,9c0,5.3,8,13.4,8.3,13.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3C13,22.4,21,14.3,21,9
                    C21,3.4,16.4,0,12,0z M12,12c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3S13.7,12,12,12z"/>
                </svg>
            </span>

	        <a class="text-xs mb-3 block no-underline text-grey-dark hover:text-blue" target="_blank" href="{{event.location[0].getMapUrl()}}">{{event.location[0]}}</a>
	    </div>
    {% endif %}

    {# Info #}
    <div class="flex sm:mb-2">
        {# {{svg.icon('icon --map --sm mr-3 top-2 relative tr-all','calendar')}} #}
        <span class="icon --map --sm mr-3 top-2 relative tr-all">
            <svg id="calendar" viewBox="0 0 24 24" width="100%" height="100%">
                <path fill="currentColor" d="M0,23c0,0.552,0.448,1,1,1h22c0.552,0,1-0.448,1-1V8H0V23z"/>
                <path fill="currentColor" d="M23,2h-4V0h-2v2h-4V0h-2v2H7V0H5v2H1C0.448,2,0,2.448,0,3v3h24V3C24,2.448,23.552,2,23,2z"/>
            </svg>
        </span>

        <div class="text-xs mb-3 block leading-normal">
            {% if event.eventDays|length %}
            <p>{{event.eventDays}}
            {% else %}
            <p>{{ event.startDate|date('M') }} {{ event.startDate|date('d') }},
            {% endif %}
            {{ event.startDate|date('Y') }}</p>

            {% if event.allDay %}
                All Day
            {% else %}
                <p>{{ event.startDate|date("g:i a") }} - {{ event.endDate|date("g:i a") }}</p>
            {% endif %}



        </div>
    </div>

</div>

<div class="text-right">

    {# Defaults #}
    {% set Url = event.url %}
    {% set Target = '' %}
    {% set Text = 'Read More' %}

        {# Registered Event #}
        {% if event.registeredEvent > 0 %}

            {# For Members #}
            {% if event.membersOnly > 0 %}
                {# User is Logged In Member #}
                {% if currentUser and craft.weat.isWeatMember %}
                    {% set Url = '/payments/checkout/event/'~event.id %}
                    {% set Target = '' %}
                    {% set Text = 'Register' %}

                {% else %}
                    {# User is Anonymous #}
                    {% set Url = '/members/login/' %}
                    {% set Target = '_blank' %}
                    {% set Text = 'Join Now' %}

                {% endif %}

            {% else %}

                {# Event for Everyone #}
                {% set Url = '/payments/checkout/event/'~event.id %}
                {% set Target = '' %}
                {% set Text = 'Register' %}

            {% endif %}

        {% else %}



        {% endif %}

    <a href="{{Url}}" target="{{Target}}" class="btn --auto-w --text text-xs --special">
        <span class="text relative text-center">
            <span class="hover-show opacity-0 tr-all">
                {{Text}}
            </span>

            {# Type #}
            <span style="color:{{ event.getColor() }}" class="hover-hide tr-all  absolute pin-t pin-r text-xs">
                {{ event.getGroup() }}
            </span>
        </span>
    </a>



</div>
