{% extends "_layouts/standard" %}

{% block content %}


{# Container #}
<div class="simple-container">

  {# Form #}
  <section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">
    <header class="mb-10 pt-9">
      <h1 class="text-lg text-blue mb-6">Donate to WEAT</h1>
    </header>
    <form class="form-horizontal"
          id="charge-form"
          method="post"
          action=""
          accept-charset="UTF-8"
          data-publicKey="{{ craft.charge.getPublicKey }}">
        {{ forms.hidden({ name : 'action', value: 'charge/charge' }) }}
        {{ forms.hidden({ name : 'redirect', value: 'charge/thanks?hash={hash}' }) }}
        {{ forms.hidden({ name : 'createAccount', value: 'no' }) }}
        {{ forms.hidden({ name : 'description', value: 'Donation' }) }}
        {{ getCsrfInput() }}

        {% set options = { 'allowDynamic' : true } %}
        {{ craft.charge.setPaymentOptions(options) }}

        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors" class="alert alert-error"></div>

        {# Field #}
        <div class="form-row mb-6">
          <label for="customerName" class="field-label block w-full">Name</label>
          <input required name="customerName" id="customerName" type="text" class="input-field block w-full" placeholder="Riley Price" value="{{(charge is defined ? charge.customerName )}}">
        </div>

        {# Field #}
        <div class="form-row mb-6">
          <label for="customerEmail" class="field-label block w-full">Email</label>
          <input required name="customerEmail" id="customerEmail" type="email" class="input-field block w-full" placeholder="hello@mail.com" value="{{(charge is defined ? charge.customerEmail )}}">
        </div>

        {# Field #}
        <div class="form-row mb-6">
          <label for="planAmount" class="field-label block w-full">Donation amount</label>
          <input required name="planAmount" id="planAmount" type="text" class="input-field block w-full" placeholder="50.00" value="{{(charge is defined ? charge.planAmount )}}">
        </div>



        <h4>Card Details</h4>
        {% include '_components/charge--card-details' %}
        {% include '_components/charge--payment-button' %}
    </form>

	</section>

</div>

{# Form Validation #}
{% set formJs %}
	$("form").validate();
{% endset %}

{% includeJsFile '/assets/static/validate/jquery.validate.min.js' %}
{% includeJs formJs %}



{% endblock %}
