{% extends "_layouts/standard" %}

{% block content %}

{# Container #}
<div class="simple-container">

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg choices-as-boxes">
    {% set message = craft.session.getFlash('notice') %}
    {{ message }}
    <form method="post" accept-charset="UTF-8">
      {{ getCsrfInput() }}
      {{ forms.hidden({ name : 'action', value: 'users/saveUser' }) }}
      {{ forms.hidden({ name : 'redirect', value: 'members/subscribe' }) }}
      {% if allErrors is defined %}
          {{ forms.errorBlock(allErrors) }}
      {% endif %}

      <div id="payment-errors" class="alert alert-error"></div>




      {# Field #}
      <div class="form-row mb-6">
        <label for="username" class="field-label block w-full">Username</label>
        {{ forms.text({
            label: 'Username',
            name: 'username',
            id: 'username',
            placeholder: 'eg. jsmith',
            value: (account is defined ? account.username ),
            class: "input-field block w-full"
        }) }}
        {% include "_macros/forms/errorList" with { errors: (account is defined ? account.getErrors('username')) } %}
      </div>

      {# Field #}
      <div class="form-row mb-6">
        <label for="email" class="field-label block w-full">Email</label>
        {{ forms.text({
            label: 'Email',
            name: 'email',
            id: 'email',
            placeholder: 'eg. jsmith@company.org',
            value: (account is defined ? account.email ),
            class: "input-field block w-full"
        }) }}
        {% include "_macros/forms/errorList" with { errors: (account is defined ? account.getErrors('email')) } %}
      </div>

      {# Field #}
      <div class="form-row mb-6">
        <label for="password" class="field-label block w-full">Password</label>

        {{ forms.password({
            label: 'Password',
            name: 'password',
            id: 'password',
            class: "input-field block w-full"
        }) }}
        {% include "_macros/forms/errorList" with { errors: (account is defined ? account.getErrors('password')) } %}
      </div>

			{# Buttons #}
			<div class="form-row mb-6 pt-6 flex items-center">
					 <input class="submit btn" type="submit" value="Register">
			</div>

		</form>

	</section>

</div>

{% endblock %}
