{% extends "_layouts/standard" %}
{% block content %}


<div class="m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">

	{# Group #}
	<section class="group mb-lg">
    <h2 class="md:text-2xl md:pt-10 md:mb-14 mt-12 mb-10 text-center sm:text-lg text-2md text-blue">Register</h2>
    <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        {{ forms.hidden({ name : 'action', value: 'users/saveUser' }) }}
        {{ forms.hidden({ name : 'redirect', value: 'members/join' }) }}
        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors" class="alert alert-error"></div>


        {{ forms.textField({
            label: 'Username',
            name: 'username',
            id: 'username',
            placeholder: 'eg. jsmith',
            value: (account is defined ? account.username ),
            errors: (account is defined ? account.getErrors('username'))
        }) }}

        {{ forms.textField({
            label: 'Email',
            name: 'email',
            id: 'email',
            placeholder: 'eg. jsmith@company.org',
            value: (account is defined ? account.email ),
            errors: (account is defined ? account.getErrors('email'))
        }) }}

        {{ forms.passwordField({
            label: 'Password',
            name: 'password',
            id: 'password',
            errors: (account is defined ? account.getErrors('password'))
        }) }}

        <input type="submit" class="btn --full-w --lg" value="Register">
    </form>
  </div>
</section>

{% endblock %}
