{% extends "_layouts/standard" %}
{% block content %}

{# Container #}
<div class="simple-container">

	{% set message = craft.session.getFlash('notice') %}
	{{ message }}

	{# Form #}
	<section class="form-container --narrow m-auto md:w-3/4 lg:w-1/2 mb-12 sm:mb-lg ">
    <form method="post" accept-charset="UTF-8">
      {{ getCsrfInput() }}
	    <input type="hidden" name="action" value="users/setPassword">
	    <input type="hidden" name="code" value="{{ code }}">
	    <input type="hidden" name="id" value="{{ id }}">

      {# Field #}
      <div class="form-row mb-6">
        {{ forms.password({
            name: 'newPassword',
            id: 'newPasword',
            placeholder: 'New password',
            class: "input-field block w-full"
        }) }}
{% if errors is defined %}
		<ul class="errors">
				{% for error in errors %}
						<li>{{ error }}</li>
				{% endfor %}
		</ul>
{% endif %}
        {% include "_macros/forms/errorList" with { errors: (account is defined ? account.getErrors('newPassword')) } %}
      </div>

      {# Buttons #}
      <div class="form-row mb-6 pt-6 flex items-center">
           <input class="submit btn" type="submit" value="Login">
      </div>

      {% if errorMessage is defined %}
          <p>{{ errorMessage }}</p>
      {% endif %}
    </form>
  </section>
</div>
{% endblock %}
