{% extends "_layouts/standard" %}

{% block content %}
{% requireLogin %}
<div class="m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">

	{# Group #}
	<section class="group mb-lg">
    <h2 class="md:text-2xl md:pt-10 md:mb-14 mt-12 mb-10 text-center sm:text-lg text-2md text-blue">Subscribe</h2>
    <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        {{ forms.hidden({ name : 'action', value: 'users/saveUser' }) }}
        {{ forms.hidden({ name : 'redirect', value: 'members/subscribe-step-3' }) }}
        {{ forms.hidden({ name : 'userId', value: currentUser.id }) }}
        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors" class="alert alert-error"></div>

        <h4>Customer Details</h4>

        {{ forms.textField({
            label: 'Street address',
            name: 'fields[userAddressStreet]',
            id: 'fields-userAddressStreet',
            placeholder: '',
            value: (currentUser is defined ? currentUser.userAddressStreet),
            errors: (currentUser is defined ? currentUser.getErrors('userAddressStreet'))
        }) }}

        {{ forms.textField({
            label: 'City',
            name: 'fields[userAddressCity]',
            id: 'fields-userAddressCity',
            placeholder: '',
            value: (currentUser is defined ? currentUser.userAddressCity),
            errors: (currentUser is defined ? currentUser.getErrors('userAddressCity'))
        }) }}

				{{ forms.selectField({
		        label: 'State',
		        name: 'fields[userAddressState]',
		        id: 'fields-userAddressState',
		        options: craft.fields.getFieldByHandle('userAddressState').getFieldType.options,
		        value: (currentUser is defined ? currentUser.userAddressState ),
		        errors: (currentUser is defined ? currentUser.getErrors('userAddressState'))
		    }) }}

        {{ forms.textField({
            label: 'Zip',
            name: 'fields[userAddressZip]',
            id: 'fields-userAddressZip',
            value: (currentUser is defined ? currentUser.userAddressZip ),
            errors: (currentUser is defined ? currentUser.getErrors('userAddressZip'))
        }) }}

        <input type="submit" class="btn --full-w --lg" value="Continue">


    </form>
  </section>
</div>
{% endblock %}
