{% extends "_layouts/standard" %}

{% block content %}
{% requireLogin %}
<div class="m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">

	{# Group #}
	<section class="group mb-lg">
    <h2 class="md:text-2xl md:pt-10 md:mb-14 mt-12 mb-10 text-center sm:text-lg text-2md text-blue">Subscribe</h2>
    <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        {{ forms.hidden({ name : 'action', value: 'users/saveUser' }) }}
        {{ forms.hidden({ name : 'redirect', value: 'members/subscribe-step-2' }) }}
        {{ forms.hidden({ name : 'userId', value: currentUser.id }) }}
        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors" class="alert alert-error"></div>

        <h4>Customer Details</h4>

        {{ forms.textField({
            label: 'First Name',
            name: 'firstName',
            id: 'firstName',
            placeholder: '',
            value: (currentUser is defined ? currentUser.firstName),
            errors: (currentUser is defined ? currentUser.getErrors('firstName'))
        }) }}

        {{ forms.textField({
            label: 'Last Name',
            name: 'lastName',
            id: 'lastName',
            placeholder: '',
            value: (currentUser is defined ? currentUser.lastName),
            errors: (currentUser is defined ? currentUser.getErrors('lastName'))
        }) }}

        {{ forms.textField({
            label: 'Email',
            name: 'email',
            id: 'email',
            placeholder: 'eg. jsmith@company.org',
            value: (currentUser is defined ? currentUser.email),
            errors: (currentUser is defined ? currentUser.getErrors('email'))
        }) }}


        {{ forms.textField({
            label: 'Phone',
            name: 'fields[userPhoneNumber]',
            id: 'fields-userPhoneNumber',
            placeholder: 'eg. 210-444-1234',
            value: (currentUser is defined ? currentUser.userPhoneNumber ),
            errors: (currentUser is defined ? currentUser.getErrors('userPhoneNumber'))
        }) }}

        <input type="submit" class="btn --full-w --lg" value="Continue">


    </form>
  </section>
</div>
{% endblock %}
