{% extends "_layouts/standard" %}

{% block content %}
{% requireLogin %}
<div class="m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">

	{# Group #}
	<section class="group mb-lg">
    <h2 class="md:text-2xl md:pt-10 md:mb-14 mt-12 mb-10 text-center sm:text-lg text-2md text-blue">Subscribe</h2>
    <form class="form-horizontal"
          id="charge-form"
          method="post"
          action=""
          accept-charset="UTF-8"
          data-publicKey="{{ craft.charge.getPublicKey }}">
        {{ forms.hidden({ name : 'action', value: 'charge/charge' }) }}
        {{ forms.hidden({ name : 'redirect', value: 'payments/thanks/{hash}' }) }}
        {{ getCsrfInput() }}

        {% set options = {
            'planAmount' : 50.00,
            'planInterval' : 'day',
            'planIntervalCount' : '1',
            'actions' : {
                'onSuccess': {
                    'subscription' : 'weat'
                },
            }}
        %}

        {{ craft.charge.setPaymentOptions(options) }}

        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors" class="alert alert-error"></div>

        {{ forms.hidden({
            name: 'customerName',
            id: 'customerName',
            value: (currentUser is defined ? currentUser.friendlyName),
            data: { stripe : 'name' }
        }) }}

        {{ forms.hidden({
            name: 'customerEmail',
            id: 'customerEmail',
            value: (currentUser is defined ? currentUser.email)
        }) }}
        {{ stripe.amountField({
            label: 'Amount',
            value: options.planAmount,
            readonly: true
        }) }}

        {% include '_components/charge--card-details' %}
        {% include '_components/charge--payment-button' %}

    </form>
  </section>
</div>
{% endblock %}
