{% extends "_layouts/standard" %}

{% block content %}
{% requireLogin %}
<div class="m-auto md:w-3/5 w-full    sm:pt-10 sm:mb-10">

	{# Group #}
	<section class="group mb-lg">
    <h2 class="md:text-2xl md:pt-10 md:mb-14 mt-12 mb-10 text-center sm:text-lg text-2md text-blue">Subscribe</h2>
    <form class="form-horizontal"
          id="charge-form"
          method="post"
          action=""
          accept-charset="UTF-8"
          data-publicKey="{{ craft.charge.getPublicKey }}">
        {{ forms.hidden({ name : 'action', value: 'charge/charge' }) }}
        {#{ forms.hidden({ name : 'redirect', value: 'payments/thanks/{hash}' }) }#}
        {{ forms.hidden({ name : 'redirect', value: 'payments/thanks' }) }}
        {{ getCsrfInput() }}

        {% set options = {
            'planAmount' : 5.99,
            'planInterval' : 'month',
            'planIntervalCount' : '1',
            'actions' : {
                'onSuccess': {
                    'subscription' : 'weat'
                },
            }}
        %}

        {{ craft.charge.setPaymentOptions(options) }}

        {% if allErrors is defined %}
            {{ forms.errorBlock(allErrors) }}
        {% endif %}

        <div id="payment-errors" class="alert alert-error"></div>


        <h4>Customer Details</h4>
        {#% include '_components/charge-customer-details' with { 'registerGuest' : true }%#}

        {% include '_components/charge--customer-details' %}

        <h4>Plan Details</h4>
        {{ stripe.amountField({
            label: 'Amount',
            value: options.planAmount,
            readonly: true
        }) }}

        <h4>Card Details</h4>
        {% include '_components/charge--card-details' %}
        {% include '_components/charge--payment-button' %}

    </form>
  </section>
</div>
{% endblock %}
