{# Headers #}

{% switch type %}

	{# Standard Blue #}
	{% case "page-header--standard" %}
	
		<header class="page-header bg-blue">
			<div class="simple-container py-8 sm:py-10">
				{# Landing Page Title: #}
				<h1 class="text-white font-medium md:text-3xl max-w-lg sm:text-xl text-lg">{{Title}}</h1>
			</div>
		</header>

	{# Hero Blue #}
	{% case "page-header--hero" %}
	
		<header class="page-header --hero bg-blue-dark relative">
			<div class="m-auto max-w-md text-center px-4 py-10 sm:py-8 sm:px-0 sm:py-10 relative z-10">

				{# Landing Page Title: #}
				<h1 class="text-white font-medium md:text-3xl sm:text-xl text-lg mb-12 px-4 sm:px-0">{{Title}}</h1>

				{# Button #}
				{{link.button(Button, '--light-blue btn')}}

			</div>

			{# Patterns #}
			{{svg.pattern('dots','dots pin-t absolute pin-l z-10 text-blue-lighter h-48 w-24 hidden md:block')}}
			{{svg.pattern('dots','dots pin-b absolute pin-r z-10 text-blue-lighter h-48 w-24 hidden md:block')}}

			{# Background Image #}
			<div class="absolute h-full w-full pin-t pin-l overflow-hidden z-0">
				{{image.single_simple(Image, 'cover-img lazyloaded absolute pin-t pin-l z-0')}}
			</div>
		</header>

	{# Section Header -- Hero#}
	{% case "section-header--hero" %}
		<header class="text-center {{class}}">	
			<h4 class="text-blue m-auto max-w-md px-4 sm:px-0 sm:text-xl text-2md mb-6 sm:text-lg md:w-4/5 m-auto">{{Header}}</h4>

			{% if Text|length %}			
				<div class="m-auto sm:w-3/5 px-4 sm:px-0 text-grey leading-normal">
					{{Text}}
				</div>
			{% endif %}
		</header>

	{# Section Header -- Divider #}
	{% case "section-header--divider" %}
		<header class="section-header text-1md sm:text-2md text-grey-dark py-4 border-b border-grey-lightest ">
			<h4>{{title}}</h4>
		</header>

		
	{% default %}
		other

{% endswitch %}

