<footer class="site-footer bg-blue text-blue-light">
	<div class="container m-auto  pt-9 px-2 pb-4">
		<div class="flex-wrap md:flex md:flex-justify">

			{# Info Group #}

			<div class="info-group w-full text-center border-b-2 border-blue-light mb-10 lg:border-0 lg:w-1/2 lg:text-left lg:mb-0 pb-6 lg:pb-0">

				<div class="content">
					<div class="brand-logo text-blue-light mb-12 sm:mb-4 m-auto lg:ml-0">
						{% include '_components/svg--weat-brand--simple' %}
					</div>

					<div class="contact text-1xs lg:pl-16">

						{% if about.phone %}
							<a href="tel:{{about.phone}}" class="text-white hover:text-blue-light no-underline block mb-2">{{about.phone}}</a>
						{% endif %}
												

						{% if about.email %}
							<a href="mailto:{{about.email}}" class="text-white hover:text-blue-light no-underline block mb-8">{{about.email}}</a>
						{% endif %}
						
						<p class="text-white no-underline block mb-8">
							<span class="block mb-2">
								<span class="street">{{about.address.parts.street_number}} {{about.address.parts.route}}, {{about.suite}} {{about.address.parts.subpremise}} </span>
							</span>
							
							<span class="block">
								<span class="city">{{about.address.parts.locality}} </span>
								<span class="state">{{about.address.parts.administrative_area_level_1_short}} </span> 
								<span class="zipcode">{{about.address.parts.postal_code}}</span>

							</span>
						</p>
					</div>

					<div class="social reset-list text-2xs mb-14 sm:mb-18 lg:pl-16">
						{% include '_components/list--social' %}
					</div>

					<div class="copyright lg:pl-16">
						
            <small class="text-2xs tracking-md">© {{now.year}} {{siteName}}</small>

					</div>

				</div>
			</div>
			

			{# Info Group #}
			<div class="info-group w-full lg:w-1/2 flex-wrap flex">
				{# Column #}
				<div class="info-group__col w-1/2 md:w-1/3 pr-6">
						
					<nav class="footer-list mb-8" role="navigation">
						
						{% set footerGroup1 = craft.navee.getNav('footerGroup1') %}
						{% nav item in footerGroup1 %}

							{% if item.level == 1 %}
								<h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
									{% if item.url %}
									<a class="text-blue-light no-underline" href="{{item.url}}" target="{{item.target}}">
									{% endif %}									
										{{item.title}}
									{% if item.url %}
									</a>
									{% endif %}
								</h5>
							
							{% else %}
								<li class="mb-3"><a href="{{item.url}}" target="{{item.target}}" class="text-white hover:text-blue-light no-underline text-1xs">{{item.title}}</a></li>								
							{% endif %}

							{% ifchildren %}
								<ul class="list-reset text-1xs mb-8">
									{% children %}
								</ul>
							{% endifchildren %}
							
						{% endnav %}

					</nav>

				</div>

				{# Column #}
				<div class="info-group__col w-1/2 md:w-1/3 pr-6">
					
					{# Nav #}
					<nav class="footer-list mb-8" role="navigation">

						{% set footerGroup2 = craft.navee.getNav('footerGroup2') %}
						{% nav item in footerGroup2 %}

							{% if item.level == 1 %}
								<h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
									{% if item.url %}
									<a class="text-blue-light no-underline" href="{{item.url}}" target="{{item.target}}">
									{% endif %}									
										{{item.title}}
									{% if item.url %}
									</a>
									{% endif %}
								</h5>
							
							{% else %}
								<li class="mb-3"><a href="{{item.url}}" target="{{item.target}}" class="text-white hover:text-blue-light no-underline text-1xs">{{item.title}}</a></li>								
							{% endif %}

							{% ifchildren %}
								<ul class="list-reset text-1xs mb-8">
									{% children %}
								</ul>
							{% endifchildren %}
							
						{% endnav %}

					</nav>
					
				</div>


				{# Column #}
				<div class="info-group__col w-full flex md:block md:w-1/3 pr-6">
									
					{# Nav #}
					<nav class="footer-list mb-8 md:w-auto w-1/2" role="navigation">

						{% set footerGroup3 = craft.navee.getNav('footerGroup3') %}
						{% nav item in footerGroup3 %}

							{% if item.level == 1 %}
								<h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
									{% if item.url %}
									<a class="text-blue-light no-underline" href="{{item.url}}" target="{{item.target}}">
									{% endif %}									
										{{item.title}}
									{% if item.url %}
									</a>
									{% endif %}
								</h5>
							
							{% else %}
								<li class="mb-3"><a href="{{item.url}}" target="{{item.target}}" class="text-white hover:text-blue-light no-underline text-1xs">{{item.title}}</a></li>								
							{% endif %}

							{% ifchildren %}
								<ul class="list-reset text-1xs mb-8">
									{% children %}
								</ul>
							{% endifchildren %}
							
						{% endnav %}

					</nav>
					
				</div>

				
			</div>

		</div>
	</div>

</footer>
