{% extends "_layouts/standard" %}
{% block content %}

{# Breadcrumbs #}
{% include '_components/nav--breadcrumbs--events'  %}


<div class="simple-container" data-module="accordion">
  <div class="lg:flex lg:flex-wrap mb-lg md:-mx-4">
    

    {# Main #}
    <section class="main-content lg:w-2/3 md:px-4 ">
      {% set Builder = event.standardContentBuilder %}

      {# Header #}
      <header class="event-detail__header   mb-14 sm:items-center mb-10 mt-12 sm:flex sm:justify-between">
        <time class="mb-2 block md:pr-8 sm:pr-8 sm:mb-0 text-blue">
          <span class="text-md sm:text-2md sm:block">{{ event.startDate|date('M') }}</span>
          <span class="text-md sm:text-lg lg:text-3xl sm:block">{{ event.startDate|date('d') }}</span>
        </time>

        <div class="sm:flex-1 sm:pl-6 md:pl-8">
          <h4 class="text-2md text-blue sm:text-xl">{{event.title}}</h4>
        </div>
      </header>

      {# Image #}
      {% if event.singleImage|length %}      
        <figure class="img is16by9 bg-grey-lightest md:mb-4">
          {{image.single_simple(event.singleImage[0],'absolute pin-t pin-l')}}  
        </figure>
      {% endif %}

      {% for block in Builder %}
      {% switch block.type %}
        {# Standard Slider #}
        {% case "standardSlider" %}
          {% include '_components/slider--standard' with {classes: 'md:mb-4'} %}

        {# Article #}
        {% case "article" %}
          {% include '_components/article' with {classes: 'event-detail__article  --btns-left mb-16'} %}

        {# Resources List #}
        {% case "resourcesList" %}
          {% include '_components/list--resources'  with {classes: ''} %}
        
      
      {% endswitch %}
      
    {% endfor %}

    </section>
    

    {# Aside : Register Info #}
    <aside class="aside-content w-full lg:w-1/3 mt-14 lg:mt-lg md:px-4 clearfix ">
      {# Register #}
      
      {% set currentMonth = "now"|date('n') %}
      {% set currentYear = "now"|date('Y') %}
      {% set current = currentYear  ~ "-" ~ currentMonth ~ "-1" %}

      

      {% if event.startDate() == 'Expired' %}
        <a href="#" class="btn --full-w --lg --disabled">This is a past event</a>
      
      
      {% elseif event.registeredEvent > 0 %}
        <div class="max-w-sm lg:max-w-xs w-full m-auto lg:float-right border-b border-grey-lightest pb-8">
        
          {# For Members #}
          {% if event.membersOnly > 0 %}
              {% if currentUser and currentUser.isInGroup('subscriber') %}
                <a href="{{ url('payments/checkout/event/{event.id}') }}" class="btn --full-w --lg">Register</a>
              {% else %}
                <a href="{{ url('members/login') }}" class="btn --full-w --lg">Join Now</a>
                <small class="block mt-3 text-2xs text-grey text-center ">Become a member to register.</small>
              {% endif %}
          
          {% else %}

          {# For everyone #}
          <a href="{{ url('payments/checkout/event/{event.id}') }}" target="_blank" class="btn --full-w --lg">Register</a>

          {% endif %}
        </div>
      {% endif %}

      {# Info #}
      <div class="aside__info   max-w-sm lg:max-w-xs w-full m-auto lg:float-right py-8 text-xs text-grey-dark">

        
        <div class="content mb-10">
          <h6 class="text-black text-xs mb-2">Date &amp; Time:</h6>

          <time  class="leading-normal mb-6 block">
            {% if event.eventDays|length %}
                {{event.eventDays}}
            {% else %}
                {{ event.startDate|date('l') }} {{ event.startDate|date('F') }} {{ event.startDate|date('d') }}
            {% endif %}

            , {{ event.startDate|date('Y') }}
            <br>
            {% if event.allDay %}
                All Day
            {% else %}
                {{ event.startDate|date("g:i a") }} - {{ event.endDate|date("g:i a") }}
            {% endif %}
          </time>

          
          {% if event.location|length %}
            <h6 class="text-black text-xs mb-2">Location</h6>
            {% set location = event.location[0]  %}
            <a class="leading-normal block no-underline text-grey hover:text-blue mb-6" href="{{ location.getMapUrl() }}">
              {{ location.title }}
              {% if event.specificLocation %}
                | {{event.specificLocation}}
              {% endif %}
              {% if location.address %}
                <br>
                {{location.address}}
                <br>
              {% endif %}

              {% if location.addressTwo %}
                {{location.addressTwo}} 
              {% endif %}

              {% if location.city %}

                {{location.city}},
              {% elseif location.town %}
                {{location.town}},
              {% endif %}

              {% if location.state %}
                {{location.state}}
              {% endif %}

              {% if location.zipCode %}
                {{location.zipCode}},
              {% elseif location.postalCode %}
                {{location.postalCode}},
              {% endif %}

              {% if location.country %}
                {{location.country}}
              {% endif %}

            </a>
          {% endif %}

          {% if event.sponsor %}
          {% endif %}
          
          {% set sponsor = event.sponsor %}
          {% if sponsor %}
          
            <h6 class="text-black text-xs mb-2">Sponsor</h6>

            <a href="{{sponsor.url}}" target="_blank" class="block leading-normal mb-6 text-grey-dark hover:text-green">
              {{sponsor.text}}
            </a>
          {% endif %}
          
          {% if event.groupType %}
            <h6 class="text-black text-xs mb-2">Event Type</h6>

            <p class="leading-normal mb-6">
              {{event.groupType}}
            </p>
          {% endif %}
        </div>

        

        {% if event.brochure|length %}
          {% set brochure = event.brochure[0] %}
          <a href="{{brochure.url}}" class="btn --full-w --outline-blue flex justify-center items-center">
            Download Brochure
            {{svg.icon('icon --md ml-2', 'attachment')}}
          </a>
        {% endif %}
        
        {#  #}

      </div>
    </aside>


  </div>
</div>



{% endblock %}