{% extends "_layouts/standard" %}
{% block content %}

  {# Events Assets #}
  {% includeJsFile '/assets/static/venti-js/grapnel.js' %}
  {% includeJsFile '/assets/static/venti-js/venti.min.js' %}


  {# Get the url params for month & year #}
  {% set currentMonth = "now"|date('n') %}
  {% set currentYear = "now"|date('Y') %}

  {# Set the current Year - Month #}
  {% set current = currentYear  ~ "-" ~ currentMonth ~ "-1" %}
  {# Set previous and next months #}
  {% set prevMonth = current|date_modify("last day of last month 23:59:00")|date('c') %}
  {% set nextMonth = current|date_modify("first day of next month 00:00:00")|date('c') %}
  {#  Get Events for month between prevMonth & nextMonth #}
  {% set allEvents = craft.venti.events() %}
  {% set allGroups = craft.venti.groups() %}

  {# Infinity Future #}
  {% set infinity = now|date_modify('+1000 month')|date('c') %}
  
  {% set allUpcomingEvents = allEvents.between(current,infinity) %}
  {% set events = allEvents.between(prevMonth,nextMonth|date_modify('last day of last month')|date('c')) %}

  {# Current Filter #}
  {% set filter = craft.request.query('group') %}
  
  {# Fetching Current Group Info #}
  {% set currentMonth_numeric = "now"|date('n') %}
  {% set currentYear_numeric = "now"|date('Y') %}
  {% set activeGroupIds = [] %}

  {% for group in allGroups %}
      {% set activeEvents = allUpcomingEvents.groupId(group.id).ids() %}
      {% if activeEvents|length %}
          {% set activeGroupIds = activeGroupIds|merge([group.id]) %}
      {% endif %}
  {% endfor %}

  
  {# Page Header #}
  {% set Title = 'Events' %}
  {% include '_components/headers' with {
    type: 'page-header--standard',
    Title: entry.pageTitle,
    classes: ''
    } 
  %}



  {# Container #}
  <div class="simple-container">

    <div class=" mb-lg md:-mx-4 clearfix">

      {# Main #}
      <section class="main-content lg:float-left lg:w-2/3 md:px-4 ">

        {# Featured Event #}
        {% for entry in craft.entries.section('eventsLanding') %}
          {% set Count = entry.featuredEvent.count() %}
          
          
          {% if Count > 0 %}
            {% set event = entry.featuredEvent[0] %}
            {# Featured Event Header #}
            <header class="pt-6 sm:py-8 sm:mt-12 sm:flex sm:justify-between sm:mb-0 mb-4">
              <div class="title md:1/2 md:pr-4">
                <h1 class="text-2md sm:text-lg md:text-xl">Featured Event</h1>
              </div>
            </header>
            
    
            <figure class="img is16by9 bg-grey-lightest md:mb-4">
              {% if event.singleImage|length %}
                {{image.single_simple(event.singleImage[0],'absolute pin-t pin-l')}}  
              {% else %}
                {# Placeholder #}
                <img src="/assets/img/WEAT-placeholder-img.jpg" class="absolute pin-t pin-l">
              {% endif %}
            </figure>

            {% include 'events/components/_timeline-item--first' %}  
          {% endif %}

        {% endfor %}
        
        

        {# Upcoming Events Header #}
        <header class="pt-6 mb-4 sm:py-8 sm:mt-12 sm:flex sm:justify-between">
          <div class="title md:1/2 mb-3 md:pr-4 sm:mb-0">
            <h1 class="text-2md sm:text-lg md:text-xl">Upcoming Events</h1>
          </div>
          <div class="max-w-1xs w-full">
            <select data-module="choicesAsLinks" name="" id="">
              
              {% for group in allGroups %}
                {% for id in activeGroupIds %}
                  {% if group.id == id %}
                    <option {% if group.handle == filter %}selected{% endif %} value="/events/?group={{group.handle}}">{{ group.name}}</option>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              
              
              <option {% if filter is empty %}selected{% endif %} value="/events">Show All</option>
   

              {# sort by ajax…sorta kinda: 
                {% for group in allGroups %}
                  {% for id in activeGroupIds %}
                    {% if group.id == id %}
                      <option value="{{craft.request.getUrl()}}#cal/{{currentYear_numeric}}/{{currentMonth_numeric}}/{{group.id}}">{{ group.name}}</option>
                    {% endif %}
                  {% endfor %}
                {% endfor %}

                <option value="{{craft.request.getUrl()}}#cal/{{currentYear_numeric}}/{{currentMonth_numeric}}/{% for item in activeGroupIds %}{{item}}{% if not loop.last %},{% endif %}{% endfor %}">Show All</option>
                
              #}
              
            </select>

          </div>
        </header>
       

        
        {# Filtered Results#}
        {% if filter|length %}
          {% set eventsList = allUpcomingEvents.group(filter) %}
          {% paginate eventsList.limit(1) as pageInfo, eventsList %}   
          <div class="js-infScroll" data-module="infScroll">
            {% for day, dayEvents in eventsList|group('startDate|date("M d Y")')  %}

              {# Feature Event Article #}
              {% include 'events/components/_timeline-item--all' %}  
                
            {% endfor %}
          </div>

          {# Inf Scroll Pagination #}
          {% if pageInfo.nextUrl %}
            <div class="pagination hidden">
              <a class="pagination__next" href="{{ pageInfo.nextUrl }}">Next page</a>
            </div>
            <div class="w-full block">
              <div class="btn --full-w sm:py-6 --outline load-more-cards">Show More</div>
            </div>
          {% endif %}
          {# / End #}


        {# All Results #}
        {% else %}

          {% paginate allUpcomingEvents.limit(2) as pageInfo, eventsList %}   
          <div class="js-infScroll" data-module="infScroll">
            {% for day, dayEvents in eventsList|group('startDate|date("M d Y")')  %}

              {# Feature Event Article #}
              {% include 'events/components/_timeline-item--all' %}  
                
            {% endfor %}
          </div>

          {# Inf Scroll Pagination #}
          {% if pageInfo.nextUrl %}
            <div class="pagination hidden">
              <a class="pagination__next" href="{{ pageInfo.nextUrl }}">Next page</a>
            </div>
            <div class="w-full block">
              <div class="btn --full-w sm:py-6 --outline load-more-cards">Show More</div>
            </div>
          {% endif %}
          {# / End #}

        {% endif %}
        

      </section>


      {# Aside #}
      <aside class="aside-content sticky pin-t lg:float-left w-full lg:w-1/3 mt-14 lg:mt-lg md:px-4 clearfix ">
        <div class="max-w-sm lg:max-w-xs w-full m-auto lg:float-right ">
          <div class="border-b border-grey-lightest pb-6">

            <div id="events-calendar" class="tabs_content" style="display:block;" >
              {% include 'events/components/_eventsNav' with { prev:prevMonth, next:nextMonth, current:current, ids:[] } only %}
              {% include 'events/components/_calendar' with { events:events, month:currentMonth, year:currentYear } only %}
            </div>

            {# Calender Legend #}
            <div class="calendar-legend pt-6">
              <ul class="list-reset flex flex-wrap">

                {% for group in allGroups %}
                  {% for id in activeGroupIds %}
                    {% if group.id == id %}
                      <li class="w-1/2 mb-3">
                          <div class="w-5/6 flex items-center">
                            <span class="h-2 w-2 inline-block rounded-full" style="background: {{ group.color }};"></span>
                            <span  class="text-xs ml-2 inline-block" style="color: {{ group.color }};">{{ group.name}}</span>                  
                          </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}

              </ul>
            </div>


          </div>


        </div>
      </aside>

    </div>

  </div>




  

  {#
  Stuff to hide for now —
  Need to extract and reassemble this stuff
  #}
  <div class="hidden">
    {# Tabs #}
    <div class="tabs-wrap">
      <div class="tabs_tabs">
        <a href="#events-calendar" class="tabs_tab is-active">Month</a>
        <a href="#events-list" class="tabs_tab">List</a>
      </div>
    </div>
    {# Filter #}
    {% include 'events/components/_filter' %}
    {# Groups #}
    {% include 'events/components/_modal-calendar-groups' %}
    {# List #}
    {# <div id="events-list" class="tabs_content" >
      {% include 'events/components/_eventsNav' with { prev:prevMonth, next:nextMonth, current:current, ids:[] } only %}
      <div class="container container-10 pad-x-0">
        {% include 'events/components/_timeline' with { events:events, month:currentMonth, year:currentYear } only %}
      </div> #}
    </div>
  </div>
  {# {% includeCssFile '/assets/static/venti-css/venti.css' %} #}
  {% includeJsFile 'https://cdn.polyfill.io/v2/polyfill.js?features=default,es6,fetch&flags=gated' %}
  {% includeJsFile '/assets/static/venti-js/remodal.js' %}
{% endblock %}