{% extends "_layouts/standard" %}

{#% set eventId = craft.request.getSegment(3) %}
{% set event = craft.venti.events.id(eventId) %#}
{% set eventSlug = craft.request.getSegment(3) %}
{% set event = craft.venti.events.slug(eventSlug).first %}
{% if event is empty %}
  {% set event = craft.venti.events.id(eventSlug).first %}
{% endif %}


{% block content %}

{% set showJoinPricing = true %}
{% set individualPrice = null %}

{% set isMember = false %}
{% if currentUser and currentUser.isInGroup('subscriber') %}
  {% set showJoinPricing = false %}
  {% set isMember = true %}
{% endif %}

{% if event is empty %}
  {% redirect "error" %}
{% endif %}

{# Container #}
<div class="simple-container">

  {# Header #}
  <header class="text-center ml-auto mr-auto text-blue text-md sm:text-lg lg:text-xl mt-18 mb-14 sm:mt-xl sm:mb-18">
    <h2>Your Order</h2>
  </header>

  {# Form #}
  <section class="form-container --narrow m-auto w-full lg:w-2/3 mb-12 sm:mb-lg choices-as-boxes">

    <form method="post" action="{{ url('payments/checkout')}}" class="py-4">

        {{ getCsrfInput() }}
        <input type="hidden" name="eventId" value="{{event.id}}" />

        {% if not currentUser %}
        <div class="form-row mb-6 pt-6 flex items-center ">
          <p>Already have an account or looking for WEAT Member Pricing? <a href="{{ url('members/login', 'returnUrl=' ~ craft.request.path) }}">Login here</a>
        </div>
        {% endif %}
    {# Field / split #}
      <div class="form-row mb-4 sm:mb-0 px-4 lg:px-0 md:flex justify-center -mx-4">

        <div class="w-full md:w-3/5 ">
          <label for="item" class="field-label md:text-md block w-full pb-4 md:border-b md:pt-0 pt-4 md:border-t-0 border-t border-grey-lightest mb-6 px-4">Item</label>
          <div class="px-4 mb-6 md:w-4/5">
            <select name="item" id="item" data-module="choices" autocomplete="cc-exp">
              {#{{ event.title }}
              {{ event.membersOnly }}#}
              {% for price in event.pricing %}
                {% if (isMember and not price.subscription) or (not isMember and price.availableToNonMembers) %}
                  {% if not individualPrice %}
                    {% set individualPrice = price.price %}
                  {% endif %}
                <option value="{{price.id}}" customProperties="{price:{{price.price}}}">{{ price.label }} - ${{ price.price }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="w-full md:w-1/5 md:max-w-tiny">
          <label for="qty" class="field-label md:text-md block w-full pb-4 md:border-b md:pt-0 pt-4 md:border-t-0 border-t border-grey-lightest mb-6 px-4"></label>
          <div class="px-4 mb-6 clearfix">
            <div class="relative flex text-sm ">
                <input type="hidden"name="quantity" id="quantity" value="1">
            </div>
          </div>
        </div>

        <div class="w-full  md:w-1/5 md:max-w-tiny">
          <label class="field-label md:text-md block w-full md:pb-4 md:border-b md:pt-0 pt-4 md:border-t-0 border-t border-grey-lightest mb-6 px-4">Amount</label>
          <span id="single-amount" class="block text-left px-4 md:mt-10 sm:text-md text-base md:text-right md:w-1/2">${{ individualPrice }}</span>
        </div>


      </div>

      {# Field / split #}
      {#
      <div class="form-row mb-6 px-4  lg:px-0 flex md:justify-center md:-mx-4 md:border-t-0 border-t border-grey-lightest ">
        <div class="w-full md:w-3/5  md:border-t border-grey-lightest"></div>

        <div class="w-auto  md:w-1/5 md:max-w-tiny   md:border-t border-grey-lightest">
          <span class="block pr-4 md:px-4 pt-3 md:text-right sm:pt-0 sm:mt-6 sm:text-md text-base">Total:</span>
        </div>

        <div class="w-auto  md:w-1/5 md:max-w-tiny   md:border-t border-grey-lightest">
          <span id="total-amount" class="block text-left px-4 md:mt-6 sm:text-md text-base md:text-right md:w-1/2 pt-3 sm:pt-0">${{ individualPrice }}</span>
        </div>

      </div>
      #}

      {# Buttons #}
      <div class="form-row mb-6 pt-6 flex items-center ">
       <div class="md:w-2/5">
         <input class="submit btn --full-w" type="submit" value="Continue to Checkout">
       </div>
      </div>

    </form>

  </section>

</div>

{% set myJs %}
//var $totalAmount = $('#total-amount');
var $quantity = $('#quantity');
var $singleAmount = $('#single-amount');
$('#item').on('change', function() {
  console.log($(this));
  var ticketLabel = $(this).children(":selected").text();
  var ticketArray = ticketLabel.split(' - $');
  var ticketPrice = ticketArray[1];
  $singleAmount.text('$' + parseFloat(ticketPrice).toFixed(2));
  //$totalAmount.text('$' + parseFloat($quantity.val() * ticketPrice).toFixed(2));

    console.log(ticketPrice);
    console.log($quantity.val());
});

$('.spinner-group').on('click', function() {
  console.log('changing');
  updatePricingValues();
});

function updatePricingValues() {
  var ticketLabel = $('#item').children(":selected").text();
  var ticketArray = ticketLabel.split(' - $');
  var ticketPrice = ticketArray[1];
  $singleAmount.text('$' + parseFloat(ticketPrice).toFixed(2));
  //$totalAmount.text('$' + parseFloat($quantity.val() * ticketPrice).toFixed(2));
}

{% endset %}

{% includeJs myJs %}

{% endblock %}
