{% set item = craft.request.getParam('item') %}
{% set quantity = craft.request.getParam('quantity') %}
{% set eventId = craft.request.getParam('eventId') %}

{% if item is empty or quantity is empty or eventId is empty %}
{% set eventsUrl = url('events') %}
{% set message = 'It looks like you came directly to this page. Try visiting the <a href="{{ eventsUrl }}">events</a> page.' %}
{% redirect('error') %}
{% endif %}

{% set event = craft.venti.events.id(eventId).first %}
{% set pricing = event.pricing.id(item).first %}
{% set individualPrice = pricing.price %}
{% set totalPrice = individualPrice * quantity %}
{% set itemLabel = event.title ~ ' - ' ~ pricing.label %}
{% set pageHeader = 'Checkout' %}
{% set createAccount = 'yes' %}

{% if event is empty %}
{% set eventsUrl = url('events') %}
{% set message = 'It looks like you we could not find that event. Try visiting the <a href="{{ eventsUrl }}">events</a> page.' %}
{% redirect('events') %}
{% endif %}
{% extends '_components/checkout--singlepage.twig' %}



{% set options = {
		'planAmount' : totalPrice,
		'description' : event.title ~ ' | ' ~ pricing.label,
		'checkoutRequest' : true,
	}
%}
{% if pricing.subscription %}
	{% set options = options|merge({
		'actions' : {
			'onSuccess': {
				'subscription' : 'weat',
				'email' : { 0: 'registration-confirmation' }
			}
		}
	}) %}
	{% set subscribtionNotification = true %}
{% else %}
	{% set options = options|merge({
		'actions' : {
			'onSuccess': {
				'email' : { 0: 'registration-confirmation' }
			},
		}
	}) %}

{% endif %}

{% block meta %}
{{ forms.hidden({ name : 'meta[eventName]', value: event.title }) }}
{{ forms.hidden({ name : 'meta[includeSubscription]', value: true }) }}
{{ forms.hidden({ name : 'meta[type]', value: 'registration' }) }}
{{ forms.hidden({ name : 'meta[eventId]', value: eventId }) }}
{{ forms.hidden({ name : 'meta[ticketName]', value: pricing.label }) }}
{{ forms.hidden({ name : 'meta[ticketId]', value: item }) }}
{{ forms.hidden({ name : 'meta[quantity]', value: quantity }) }}
{{ forms.hidden({ name : 'meta[individualPrice]', value: individualPrice }) }}
{{ forms.hidden({ name : 'meta[includeSubscription]', value: pricing.subscription }) }}
{{ forms.hidden({ name : 'item', value: item }) }}
{{ forms.hidden({ name : 'quantity', value: quantity }) }}
{{ forms.hidden({ name : 'eventId', value: eventId }) }}
{% endblock %}
