{% extends "_emails/templateblock" %}

{% block content %}
<h3>Thank you!</h3>
<p>Your order has been received.</p>

{% if charge.meta['eventId'] is defined %}
  {% set event = craft.venti.events.status(null).id(charge.meta['eventId']).first %}
  {% if event is defined %}
    {{ event.eventEmailContent }}
  {% endif %}
{% endif %}

<p>Event: {{ charge.meta['eventName'] }}<br />
  Registration type: {{ charge.meta['ticketName'] }}</p>

<p>Total: {{ charge.amountFormatted }}<br />

Charge ID : {{ charge.id }}</p>
{% endblock %}
